@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200$display=swap');
:root{
    --font-style: 'Nunito Sans' , sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background: #E1CBD7;
    font-family: var(--font-style);
}
 
